html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav */
nav {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  /* border: 5px solid green; */
}

nav a {
  margin-right: 50px;
  margin-top: 20px;
  font-family: arial;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #24282F;
}

nav a:hover {
  /* color: #5ca36b; */
  color: #539361;
}

/* Home */
#home {
  background-color: #24282F;
  /* height: 100vh; */
  /* border: 5px solid red; */
}

header {
  background-color: white;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid blue; */
}

header h1 {
  font-size: 5rem;
  font-family: arial;
  color: #24282F;
  font-weight: 900;
}

header h1:hover {
  color: #539361;
}

/* Cards Container */
#cards-container {
  /* border: 5px solid yellow; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Character Card */
#character-card {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 20rem;
  display: flex;
  flex-direction: column;
  background-color: #3C3E44;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 1rem;
  margin-top: 1rem;
}

#character-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

#character-card h3 {
  font-size: 1.5rem;
  color: #9E9E9E;
}

#character-card p {
  font-size: 1.5rem;
}

#card-text {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: .5rem;
}

/* header h1::selection {
  background-color: #ffb7b7;
} */