html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav */
nav {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  /* border: 5px solid green; */
}

nav a {
  margin-right: 50px;
  margin-top: 20px;
  font-family: arial;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: #24282F;
}

nav a:hover {
  /* color: #5ca36b; */
  color: #539361;
}

/* Home */
#home {
  background-color: #24282F;
  /* height: 100vh; */
  /* border: 5px solid red; */
}

header {
  background-color: white;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px solid blue; */
}

header h1 {
  font-size: 5rem;
  font-family: arial;
  color: #24282F;
  font-weight: 900;
}

header h1:hover {
  color: #539361;
}

/* Cards Container */
#cards-container {
  /* border: 5px solid yellow; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Character Card */
#character-card {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 23rem;
  display: flex;
  flex-direction: column;
  background-color: #3C3E44;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 2rem;
  margin-top: 1.5rem;
  height: 36rem;
}

#character-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

#character-card h3 {
  font-size: 1.5rem;
  color: #9E9E9E;
}

#character-card p {
  font-size: 1.5rem;
}

#card-text {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  /* border: 3px solid red; */
}

/* header h1::selection {
  background-color: #ffb7b7;
} */

/* About Page */
#about-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0 0 10rem 0;
}

#about-container {
  height: 100vh;
  width: 900px;
  margin-top: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about-container h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #539361;
}

#about-container p{
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  line-height: 1.4;
}

#about-container a{
  font-size: 1.4rem;
  text-decoration: underline #539361;
  color: black;
}

/* Docs Page */
#docs-page {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#docs-container {
  width: 900px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 3rem;
}

#docs-container h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
  color: #539361;
}

#docs-container p{
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  line-height: 1.4;
}

#docs-container a{
  font-size: 1.4rem;
  text-decoration: underline #539361;
  color: black;
}
